body {
    background-image: url("/Plant-parent/img/monsteraBG.jpg");
    background-size: cover;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, 0.836);
    text-shadow: rgb(0, 0, 0) 1px 1px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.438);
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}


#increment-btn {
    background: rgba(2, 107, 37, 0.85);
    box-shadow: 1px 1px 1px 1px black;
}

#save-btn {
    background: rgba(0, 77, 100, 0.85);
    box-shadow: 1px 1px 1px 1px black;
}

